# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Ignorar directorios de construcción de CMake
/cmake-build-debug/
/build/

# Ignorar archivos de configuración de IDE
*.idea/
*.vscode/

# Ignorar archivos temporales de sistemas operativos
*.DS_Store
Thumbs.db
